.beer_item {
    height: 115px;
    padding-top: 15px;
}

.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    height: 100px;
    width: 100px
}

img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}